<div class="cont">
  <form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form__group">

    <div class="form-control"
         [ngClass]="{invalid: form.get('name')?.touched && form.get('name')?.invalid}"
    >
      <input id="name" type="text" placeholder="Name" formControlName="name" minlength="6" maxlength="10">
      <div
        *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
        class="validation"
      >
        <small *ngIf="form.get('name')?.errors?.['required']">
          Input name field
        </small>
        <small *ngIf="form.get('name')?.errors?.['minlength']">
          Input at least 6 symbols and less than 10 symbols
        </small>
      </div>
    </div>

    <div class="form-control"
         [ngClass]="{invalid: form.get('cardType')?.touched && form.get('cardType')?.invalid}">
      <select id="cardType" formControlName="cardType">
        <option selected disabled>Card type</option>
        <option value="Discount">Discount</option>
        <option value="Cumulative">Cumulative</option>
        <option value="Other">Other</option>
      </select>
      <div *ngIf="form.get('cardType')?.touched && form.get('cardType')?.invalid"
        class="validation"
      >
        <small *ngIf="form.get('cardType')?.errors?.['required']">
          Choose one variant
        </small>
      </div>
    </div>


    <input id="cardNum" type="text" placeholder="Card number" readonly>
    <input id="creationDate" type="text" placeholder="Creation Date" readonly>

    <div class="form-control"
           [ngClass]="{invalid: form.get('status')?.touched && form.get('status')?.invalid}">
      <select id="status" formControlName="status">
        <option selected disabled>Status</option>
        <option value="Active">Active</option>
        <option value="NotActive">Not Active</option>
      </select>
      <div
        *ngIf="form.get('status')?.touched && form.get('status')?.invalid"
        class="validation">
        <small *ngIf="form.get('status')?.errors?.['required']">
          Choose one variant
        </small>
      </div>
    </div>

  </div>
  <div class="form__btn">
    <button type="reset" class="btn btn__cancel">Cancel</button>
    <button
      type="submit"
      class="btn"
      [disabled]="form.invalid"
    >Save</button>
  </div>
  </form>

  <div class="org__bottom-hr">
  </div>
</div>


