<div class="cont">

    <mat-card class="form__group">

        <mat-form-field appearance="outline" class="mat-input">
           <input matInput [(ngModel)]="organization.name" name="name" placeholder="organization name">
        </mat-form-field>

      <mat-form-field appearance="outline" class="mat-input">
        <mat-select [(ngModel)]="organization.cardType" name="cardType">
          <mat-option disabled>Card Type</mat-option>
          <mat-option value="Discount">Discount</mat-option>
          <mat-option value="Cumulative">Cumulative</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-input">
         <input matInput [(ngModel)]="organization.cardNum" name="cardNum" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-input">
          <input matInput [(ngModel)]="organization.creationDate" type="text" placeholder="Creation Date" readonly>
      </mat-form-field>


      <mat-form-field appearance="outline" class="mat-input">
        <mat-select [(ngModel)]="organization.status" name="status">
          <mat-option selected disabled>Status</mat-option>
          <mat-option value="Active">Active</mat-option>
          <mat-option value="NotActive">Not Active</mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card>

    <div class="form__btn">
      <button mat-raised-button class="btn btn__cancel" routerLink="/">Home Page</button>

      <button
        mat-raised-button
        type="submit"
        class="btn"
        (click)="updateOrg()"
      >Update</button>
    </div>



</div>


