<div class="cont">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-card class="form__group">
        <mat-form-field appearance="outline" class="mat-input">
          <mat-label>User Name</mat-label>
          <input matInput id="userName" [(ngModel)]="userData.userName" formControlName="userName">
        </mat-form-field>


        <mat-form-field appearance="outline" class="mat-input">
          <mat-label>User role</mat-label>
          <mat-select [(ngModel)]="userData.role" formControlName="role">
            <mat-option value="user">user</mat-option>
            <mat-option value="admin">admin</mat-option>
            <mat-option value="editor">editor</mat-option>
          </mat-select>
        </mat-form-field>
    </mat-card>
    <div class="form__btn">
      <button mat-raised-button  routerLink="/" class="btn btn__cancel">Cancel</button>

      <button
        mat-raised-button
        type="submit"
        class="btn"
        [disabled]="form.invalid"
        (click)="openUpdateSnackBar('user changed 👍','Dismiss')"
      >Save</button>
    </div>

</form>



  <div class="org__bottom-hr">
  </div>
</div>



