
  <div class="side-bar">
    <div class="side-bar__column">
      <div class="side-bar__logo">
        <div class="side-bar__img">
          <img src="../../../../assets/img/card.png" alt="logo">
        </div>
        <div class="side-bar__logo__text">
          <p>Clients</p>
          <p>Card</p>
        </div>
      </div>
      <div class="side-bar__btn">
        <hr class="side-bar__hr">
        <ul>
          <li class="side-bar__changeRole links" routerLink="/changeRole">Change Role</li>
        </ul>

      </div>
    </div>
  </div>

