
  <div class="nav">
    <div class="nav__row">

        <img *ngIf="!menuState"  class="nav__logo" src="../../assets/img/card.png" alt="">

      <div class="nav__row__body" [ngClass]="{whenMenuHides:menuState}">
          <!--  try to avoid functions in templates -->
        <p>{{defaultName() || userData.userName}}</p>
        <img src="../../assets/img/avatar.png" alt="">
        <div class="nav__row__menu">
      </div>

        <button mat-icon-button class="nav__body__btn" [matMenuTriggerFor]="beforeMenu" (click)="toggleSubMenu()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item>
            <mat-icon>people_outline</mat-icon>
            <span>CurrentRole: {{ defaultRole() || userData.role}}</span>
          </button>
          <button mat-menu-item routerLink="/changeRole">
            <mat-icon>filter_vintage</mat-icon>
            <span>Change role</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>no_meeting_room</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

      </div>
    </div>
  </div>

