
  <div class="nav">
    <div class="nav__row">
      <p *ngIf="userData.userName" >
        {{userData.userName}}
      </p>
      <img src="../../assets/img/avatar.png" alt="">
      <div class="nav__row__menu">
        <img src="../../assets/img/icons/menu.png" alt="">
        <ul>
          <li class="nav__row__currentRole" *ngIf="userData.role">CurrentRole: {{userData.role}}</li>
          <li class="nav__row__changeRole links" routerLink="/changeRole">Change Role</li>
          <li class="nav__row__LogOut">Logout</li>
        </ul>
      </div>
    </div>
  </div>

