
  <div class="nav">
    <div class="nav__row">
      <ul>
        <li>
          {{defaultName() || userData.userName}}
        </li>
      </ul>
      <img src="../../assets/img/avatar.png" alt="">
      <div class="nav__row__menu">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="toggleSubMenu()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <ul *ngIf="toggleMenu">
          <li class="nav__row__currentRole">CurrentRole: {{ defaultRole()|| userData.role}}</li>
          <li class="nav__row__changeRole links" routerLink="/changeRole">Change Role</li>
          <li class="nav__row__LogOut">Logout</li>
        </ul>
      </div>
    </div>
  </div>

