.nav{
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #555050;
  font-family: 'Roboto', sans-serif;
}
.nav__row{
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  img{
    padding: 0px 10px;
    height: 100%;
    object-fit: contain;
  }
}
.nav__row__menu{
  height: 100%;
  &:hover > ul{
    display: inherit;

  }
  img{
    width: 100%;
    height: 80%;
    object-fit: contain;
    position: relative;
  }
  ul{
    display: none;
    position: absolute;
    right: 5%;
    border: 1px solid #555050;
    padding: 20px;
    background-color: #fff;
    li{
      padding: 10px 20px;
        &.nav__row__currentRole{
        background-image: url(../../assets/img/icons/group.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: left;
      }
      &.nav__row__changeRole{
        background-image: url(../../assets/img/icons/settings.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: left;
      }
      &.nav__row__LogOut{
        border-top: 1px solid #b0a7a7;
        background-image: url(../../assets/img/icons/logout.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: left;
      }
    }


  }
}

