.nav{
  background-color: #fff;
  width: 100%;
  //height: 10vh;
  border-bottom: 1px solid #dad5d5;
  font-family: 'Roboto', sans-serif;
}
.nav__row{
  width: 100%;
  //height: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  img{
    padding: 0px 10px;
    height: 100%;
    object-fit: contain;
    max-height: 38px;
  }
  p{
    text-transform: capitalize;
    padding-right: 10px;
  }
}
.nav__row__menu{
  height: 100%;
  ul{
    position: absolute;
    z-index: 1;
    right: 3%;
    border: 1px solid #dad5d5;
    padding: 10px;
    background-color: #fff;
    li{
      padding: 10px 20px;
      padding-left: 30px;
        &.nav__row__currentRole{
        background-image: url(../../assets/img/icons/group.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: left;
      }
      &.nav__row__changeRole{
        background-image: url(../../assets/img/icons/settings.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: left;
      }
      &.nav__row__LogOut{
        border-top: 1px solid #dad5d5;
        background-image: url(../../assets/img/icons/logout.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: left;
      }
    }


  }
}

