.cont{
  height: 100%;
  background-color: #ececec;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 50px;
}
form{
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 50%;
  padding: 20px;


}
.form__group{
  display: flex;
  flex-direction: column;

  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 4px 6px #888888;
  background-color: #fff;
}
.form-control{
  width: 100%;
}
.form__btn{
  margin-top: 30px;

  //align-items: center;
  display: flex;
  justify-content: space-between;
  button{
    min-width: 120px;
  }
}
.btn{
  color: #fffcfc;
  border-radius: 3px;
  background-color: #5ea14a;
  padding: 10px 20px;
  box-shadow: 2px 4px 6px #888888;
}

mat-form-field{
  input{
    border: none;
    max-height: 40px!important;
  }
}


