.link-bar{
  width: 100%;

  border-bottom: 1px solid #dad5d5;
  font-family: 'Roboto', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  .link-bar__row{
    width: 94%;
   ul{
     display: flex;
     li{
       padding: 26px 10px 20px 0;
       &:last-child{
         color: #8c8b8b;
       }
     }

   }
  }
}
