table{
  //margin: 20px;
  width: 80%;
  border: 1px solid #ececec;
  background-color: #fff;
  tr,td{

    //width: 100%;
    border-bottom: 1px solid #ececec;
    padding: 10px;
    img{
      max-height: 30px;
      padding: 5px;
      //width: 40%;
      object-fit: contain;
    }
  }
}
thead{
  tr{
    th{
      padding: 10px;
    }
  }
}
.cont{
  background-color: #ececec;
}
.org-list{
  background-color: #ececec;
  height: 80vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-btn {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  input{
    padding-left: 20px;
    background-image: url(../../assets/img/icons/search.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 2%;
    border-radius: 2px;
    border: 1px solid #8c8b8b;
  }
}
.createOrg{
  color: #fffcfc;
  border-radius: 3px;
  background-color: #5ea14a;
  padding: 10px 20px;
  box-shadow: 2px 4px 6px #888888;
}
.no-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  font-weight: bold;
}
.no-list-btn{
  display: flex;
  justify-content: flex-end;
}
.no-list__body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  img{
    width: 8%;
  }
  p{
    padding: 10px 0px 20px 0px;
  }
}
.no-list-hr{
  width: 80%;
  size: 2px;
}
