<div class="cont">
  <div class="org-list">

    <div class="org-data"  *ngIf="visibleTable">

      <div class="create-btn">

        <div class="org-list__left-btn">
          <mat-form-field appearance="outline" class="mat-input">
           <input matInput placeholder="Search..." [(ngModel)]="searchStr">
          </mat-form-field>


          <button mat-button [matMenuTriggerFor]="menu" class="sort-btn">Sort</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="sortByNumber()">By number ASC</button>
            <button mat-menu-item (click)="sortByNumberDESC()">By number DESC</button>
            <button mat-menu-item (click)="sortByName()">By name ASC</button>
            <button mat-menu-item (click)="sortByNameDESC()">By name DESC</button>
            <button mat-menu-item (click)="sortByDate()">By date ASC</button>
            <button mat-menu-item (click)="sortByDateDESC()">By date DESC</button>
          </mat-menu>

        </div>

        <button mat-raised-button class="links createOrg" routerLink="/createOrg">Create Organization</button>

      </div>

      <table >
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Card type</th>
          <th>Card number</th>
          <th>Creation Date</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody >
          <tr *ngFor="let org of lstOrgs | searchName:searchStr; let i = index">

            <td>{{i + 1}}</td>
            <td>{{org['name']}}</td>
            <td>{{org['cardType']}}</td>
            <td>{{org['cardNum']}}</td>
            <td>{{org['creationDate']}}</td>
            <td>{{org['status']}}</td>
            <td><img src="../../assets/img/icons/edit.png" alt="" [routerLink]="['/updateOrg',org.id]"></td>
            <td><img (click)="onDelete(org['id'])" src="../../assets/img/icons/bin.png" alt=""></td>

          </tr>
        </tbody>
      </table>
<!--      <mat-paginator [length]="this.lstOrgs.length"-->
<!--                     [pageSize]="3"-->
<!--                     [pageSizeOptions]="[3, 6, 9]"-->
<!--                     (page)="onPageChange($event)">-->
<!--                                </mat-paginator>-->
    </div>
    <div *ngIf="!visibleTable" class="no-list">
      <div class="no-list-btn">
        <button class="links createOrg" routerLink="/createOrg">Create Organization</button>
      </div>
      <div class="no-list__body">
        <img src="../../assets/img/icons/open-cardboard-box.png" alt="">
        <p>No organization, please create one</p>
        <hr class="no-list-hr">
      </div>
    </div>
  </div>


  <div class="org__bottom-hr">
  </div>
</div>
