.cont {
  height: 100%;
  background-color: #ececec;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
table{
  width: 100%;
}
.org-list {
  background-color: #ececec;
  width: 94%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.org-data {
  width: 100%;
}

.org-list__left-btn {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.sort-btn {
  color: #b0a7a7;
  background-color: #fff;
  min-width: 100px;
  max-height: 50px;
  width: 25%;
}

.create-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;

  input {
    min-width: 200px;
    width: 26%;
    padding-left: 30px;
    background-image: url(../../assets/img/icons/search.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 3%;
    max-height: 50px;
  }
}

.createOrg {
  color: #fffcfc;
  border-radius: 3px;
  background-color: #5ea14a;
  padding: 10px 20px;
  box-shadow: 2px 4px 6px #888888;
  max-height: 50px;
}
.table__row{

}
th.mat-header-cell {
  text-align: center;
}
td, th{
  //text-align: center!important;
  //padding: 20px 5px 10px 5px!important;
}

.no-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  font-weight: bold;
}

.no-list-btn {
  display: flex;
  justify-content: flex-end;
}

.no-list__body {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;

  img {
    width: 7%;
  }
  p {
    padding: 10px 0 20px 0;
  }
}

.no-list-hr {
  border: none;
  border-top: 1px solid #dad5d5;
  width: 80%;
  size: 2px;
}

//media
@media(max-width: 767px) {
  .org-list {
    width: 100%;
    font-size: 12px;
    overflow: auto;
  }
  .create-btn {
    .sorting {
      min-width: 100px;
      overflow: auto;
      padding: 0;
      ul {
        li {
          padding: 10px;
        }
      }
    }

    button {
      font-size: 12px;
      width: 50%;
    }
  }
  .org-list__left-btn {
    flex-direction: column;
  }
}
