* { margin: 0; padding: 0; text-decoration: none; font-size: 1em; outline: none; }
code, kbd, samp, pre, tt, var, textarea, input, select {
  font: inherit; font-size: 1em; white-space: normal; }
dfn, i, cite, var, address, em { font-style: normal; }
th, b, strong, h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;}
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td, center { text-align: center; vertical-align: center; }
body { line-height: 1; background: white; color: black; }
q { quotes: "" ""; }
ul, ol, dir, menu { list-style: none; }
sub, sup { vertical-align: baseline; }
a { color: inherit; }
font { color: inherit !important; font: inherit !important;}
nobr { white-space: normal; }
button{cursor:pointer; border:none;}
body *{
  box-sizing: border-box;outline:none;
  font-family: 'Roboto', sans-serif;
}
html, body { height: auto; }

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.links{
  cursor: pointer;
}
button{
  transition: all 0.5s ease;
  &:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
  }
}



