.mat-form-field-appearance-outline .mat-form-field-outline{
  background-color: #fff!important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}
