.nav{
  background-color: #fff;
  width: 100%;
  //height: 10vh;
  border-bottom: 1px solid #dad5d5;
  font-family: 'Roboto', sans-serif;
}
.nav__row{
  width: 94%;
  //height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
  margin: 0 auto;
  .nav__logo{
    padding: 0;
  }
  img{
    padding: 0 10px;
    height: 100%;
    object-fit: contain;
    max-height: 38px;
  }
  p{
    text-transform: capitalize;
    padding-right: 10px;
    margin: 0;
  }
}
.nav__row__body{
  display: flex;
  align-items: center;
}
.nav__row__menu{
}
.nav__body__btn{
  display: flex;
  justify-content: flex-end;
}
.whenMenuHides{
  justify-content: flex-end;
  width: 100%;
}
//media
@media (max-width: 992px){
  .nav__row{
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
  }
}
